// Стили для элементов плейлиста
.yt-playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #181711;
    cursor: pointer;

    &.active {
      background-color: #393628;
    }
  }
}
