// Стили для видео-плеера
.hidden-player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181711;
  padding: 16px;

  &--visible {
    display: block;
  }
}
